.btn,
.bookmark {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50px;
}

.btn {
  color: #fff;
  background-color: var(--color-moderate-cyan);
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: var(--color-dark-cyan);
  }
}

.btn--sm {
  padding: 16px 20px;
}
.btn--md {
  padding: 20px 60px;

  @include respond(xl) {
    padding: 19px 40px;
  }
  font-weight: 700;
}

.bookmark {
  color: var(--color-dark-gray);
  transition: all 0.15s ease-in-out;
  font-weight: 700;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  @include respond(xl) {
    padding-right: 25px;
  }

  &__text {
    display: none;
    @include respond(xl) {
      display: block;
    }
  }

  .icon {
    color: #2e2e2e;
    font-size: 55px;
    transition: all 0.15s ease-in-out;
    @include respond(xl) {
      margin-right: 16px;
    }
  }
}
.bookmark.bookmarked {
  color: var(--color-dark-cyan);
  .icon {
    color: var(--color-dark-cyan);
  }
}
