.header-nav {
  font-size: 14px;
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  &__list-link {
    text-decoration: none;
    color: #fff;
    transition: all 0.15s ease-in-out;
  }
  &__list-link:hover {
    color: var(--color-moderate-cyan-lighter);
  }

  @include respond(xs) {
    display: none;
  }
  @include respond(xl) {
    display: block;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn-wrapper {
    @include respond(xl) {
      display: none;
    }
  }

  @include respond(xs) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include respond(xl) {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 166px;
    padding-right: 162px;
  }
}
