.modal {
  display: none;

  transition: all 0.2;

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: rgba(3, 3, 3, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2100;

    animation: 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &__container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    width: calc(100% - 75px);
    max-width: 540px;
    position: relative;
  }

  &__content {
    max-height: 85vh;
    max-height: 85dvh;
    overflow-y: auto;
    // padding: 40px 30px 28px;
  }
}

.modal.is-open {
  display: block;
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}
