.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;

  &__wrapper {
    position: fixed;
    inset: 0;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(3, 3, 3, 0.7);
    z-index: 2100;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2200;
  }

  &__content {
    max-height: 85vh;
    max-height: 85dvh;
    overflow-y: auto;

    padding-top: 48px;
    padding-bottom: 48px;

    padding-left: 50px;
    padding-right: 50px;
  }
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
}

body.modal-open {
  overflow: hidden;
}
