.reward-card {
  background-color: #fff;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark-gray);

  padding-top: 38px;
  padding-bottom: 31px;

  padding-left: 31px;
  padding-right: 32px;

  &__header,
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    margin-bottom: 23px;
  }

  &__title {
    font-size: 18px;
  }

  &__link {
    font-size: 15px;
    text-decoration: none;
    color: var(--color-moderate-cyan);
    transition: all 0.15s ease-in-out;
    margin-bottom: 2px;

    &:hover {
      color: var(--color-dark-cyan);
    }
  }
  &__text {
    line-height: 1.9;
    font-size: 16.1px;
    margin-bottom: 22px;
  }

  &__left {
    display: flex;
  }
  &__left-bold {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-black);
    margin-right: 9px;
  }
  &__left-text {
    margin-top: 11px;
  }
  .btn {
    font-size: 15px;
    font-weight: 500;
    padding: 15px 30px;
  }
}
