.reward-card {
  background-color: #fff;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark-gray);

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @include respond(xl) {
    padding-top: 38px;
    padding-bottom: 31px;
    padding-left: 31px;
    padding-right: 32px;
  }

  margin-bottom: 26px;

  &__header,
  &__footer {
    @include respond(xl) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__header {
    margin-bottom: 23px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    @include respond(xl) {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 15px;
    text-decoration: none;
    color: var(--color-moderate-cyan);
    transition: all 0.15s ease-in-out;
    margin-bottom: 2px;

    &:hover {
      color: var(--color-dark-cyan);
    }
  }
  &__text {
    line-height: 1.9;
    font-size: 16.1px;
    margin-bottom: 22px;
  }

  &__left {
    display: flex;
    margin-bottom: 30px;
    @include respond(xl) {
      margin-bottom: 0;
    }
  }
  &__left-bold {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-black);
    margin-right: 9px;
  }
  &__left-text {
    align-self: center;
  }
  .btn {
    font-size: 15px;
    font-weight: 500;
    padding: 15px 30px;
  }
}

.reward-card.not-active {
  opacity: 0.5;
  .btn {
    background-color: var(--color-dark-gray);
    cursor: default;
  }
  .reward-card__link {
    cursor: default;
    &:hover {
      color: var(--color-moderate-cyan);
    }
  }
}
